.banner{
width:100%;
margin:20px 0;
overflow:hidden;
border-radius:12px;
}

/* IMAGE */

.banner img{
width:100%;
height:auto;
display:block;
border-radius:12px;
object-fit:cover;
}

/* TABLET */

@media(max-width:900px){

.banner{
margin:15px 0;
}

}

/* MOBILE */

@media(max-width:600px){

.banner{
margin:10px 0;
}

.banner img{
border-radius:10px;
}

}